html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    overflow-x: hidden;

    body {
        background: lavender;
        font-family: cursive;
        line-height: 1;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        overflow-x: hidden;

        .app {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.2rem;
            align-items: center;
        }

    }
}

