body {

    .results {
        font-size: 1.3rem;
        text-align: center;
        border: 3px solid dodgerblue;
        padding: 50px;
        border-radius: 15px;
        margin-bottom: 50px;
    }

}
